.additional-catalog__title {
  color: $color-primary--dark;
  margin-top: 29px;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .additional-catalog__title {
    margin-top: 18px;
    margin-left: 37px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__title {
    margin-bottom: 78px;
    margin-left: 0;
  }
}

.additional-catalog__list {
  @include ul-reset;
  border-bottom: 1px solid $border-gray--darken;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .additional-catalog__list {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__list {
    width: 895px;
    margin-bottom: 79px;
  }
}

.additional-catalog__item {
  border-top: 1px solid $border-gray--darken;
  padding-top: 14px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .additional-catalog__item {
    border-top: 1px solid $border-gray--darken;
    border-right: 1px solid $border-gray--darken;
    border-left: 1px solid $border-gray--darken;
    padding-left: 37px;
    padding-right: 36px;
    padding-top: 21px;
    padding-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__item {
    flex-wrap: nowrap;
    border-right: none;
    border-left: none;
    padding: 16px 0 15px 0;
  }
}

.additional-catalog__item-link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .additional-catalog__item-link {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__item-link {
    width: auto;
    margin-right: auto;
  }
}

.additional-catalog__item-title {
  @include font($font-family-secondary, 400, 16px, 1, $color-primary--darken);
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional-catalog__item-title {
    font-size: 20px;
  }
}

.additional-catalog__item-desc {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .additional-catalog__item-desc {
    width: 50%;
    border-spacing: 0;
    padding-top: 6px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__item-desc {
    width: 288px;
    padding: 0;
  }
}

.additional-catalog__item-field {
  text-align: left;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .additional-catalog__item-field {
    text-align: right;
    width: 222px;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__item-field {
    text-align: left;
    padding-top: 4px;
  }
}

.additional-catalog__item-value {
  text-align: right;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .additional-catalog__item-value {
    padding-top: 4px;
  }
}
.additional-catalog__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .button.additional-catalog__button {
    font-size: 16px;
  }
}

@media (min-width: $tablet-width) {
  .additional-catalog__button {
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__button {
    width: 245px;
    margin-left: 37px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
