.banner {
  background-color: $background-color-primary--dark;
  background-image: linear-gradient(to top, $background-color-tertiary 198px, transparent 198px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 198px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .banner {
    background-image: linear-gradient(to top, $background-color-tertiary 198px, transparent 198px), url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width) {
  .banner {
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    height: 628px;
    margin-bottom: 18px;
  }
}

.banner__title {
  color: $color-secondary;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-top: 27px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.banner__title.title--lg {
  line-height: 36px;
}

@media (min-width: $tablet-width) {
  .banner__title {
    color: $color-primary--dark;
    max-width: 415px;
    text-align: left;
    padding-top: 40px;
    padding-left: 87px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 41px;
    margin-left: 0;
    order: 1;
  }

  .banner__title.title--lg {
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .banner__title {
    padding-top: 93px;
    padding-left: 80px;
  }
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__desc {
  @include font($font-family-primary, 400, 14px, 14px, $color-secondary);
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .banner__desc {
    @include font($font-family-primary, 400, 20px, 20px, $color-primary--dark);
    text-align: left;
    padding-left: 88px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 47px;
    margin-left: 0;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .banner__desc {
    padding-left: 79px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 51px;
    margin-left: 0;
  }
}

.banner__img {
  @include size(280px, 270px);
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .banner__img {
    @include size(708px, 607px);
    order: 4;
    margin-top: -103px;
    margin-left: 0;
    margin-bottom: 3px;
  }

  .banner__picture {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .banner__img {
    @include size(554px, 500px);
    margin: 0;
    position: absolute;
    top: 12px;
    right: 217px;
  }
}

.banner__button {
  color: $color-secondary;
  width: 100%;
  margin-bottom: 23px;
}

.banner__button.button {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .banner__button {
    width: 245px;
    margin-left: 89px;
    order: 3;
    z-index: 1;
    box-sizing: border-box;
  }

  .button.banner__button {
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .banner__button {
    margin-left: 80px;
  }
}
