.banner {
  background-color: $background-color-primary--dark;
  background-image: linear-gradient(to top, $background-color-tertiary 175px, transparent 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
}

@media (min-width: $tablet-width) {
  .banner {
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    height: 628px;
    margin-bottom: 80px;
  }
}

.banner__title {
  color: $color-secondary;
  margin: 0 0 19px 0;
  padding: 29px 0 0 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .banner__title {
    color: $color-primary--dark;
    max-width: 415px;
    text-align: left;
    padding-left: 90px;
    margin: 0 0 33px 0;
    order: 1;
  }
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__desc {
  @include font($font-family-primary, 400, 14px, 1.29, $color-secondary);
  display: block;
  margin: 0 0 29px 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .banner__desc {
    font-size: 22px;
    color: $color-primary--dark;
    text-align: left;
    padding-left: 90px;
    margin: 0 0 48px 0;
    order: 2;
  }
}

.banner__img {
  display: block;
  margin: 0 auto 3px auto;
  @include size(280px, 270px);
}

@media (min-width: $tablet-width) {
  .banner__img {
    @include size(100%, auto);
    order: 4;
    margin-top: -100px;
  }
}

@media (min-width: $desktop-width) {
  .banner__img {
    @include size(552px, 499px);
    margin: 0;
    position: absolute;
    top: 78px;
    right: 191px;
  }
}

.banner__button {
  color: $color-secondary;
  width: 100%;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .banner__button {
    width: 245px;
    margin-left: 90px;
    order: 3;
    z-index: 1;
  }
}
