.button {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-primary;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.button--green {
  background-color: $background-color-primary;
}
.button--grey {
  background-color: $background-color-secondary;
}

