.button {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 11px 22px;
  box-sizing: border-box;
  display: inline-block;

  @include font($font-family-primary, 400, 16px, 18px, $color-secondary);
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
  }
}

.button--green {
  background-color: $background-color-primary;
}

.button--grey {
  background-color: $background-color-secondary;
}
