.catalog__item {
  border-top: 1px solid $border-gray-light;
  margin-bottom: 26px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    width: 324px;
    min-height: 425px;
    padding: 0;
    border: none;
    background-color: $background-color-secondary;
    padding-top: 138px;
    position: relative;
    margin-top: 97px;
    margin-bottom: 49px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item-row {
    border-bottom: 1px solid $border-gray--darken;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
    padding-top: 138px;
    margin-bottom: 51px;
  }
}

.catalog__title {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 28px;
  margin-left: 0;
  color: $color-primary--dark;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 0;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 74px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    margin-top: 58px;
    margin-right: 0;
    margin-bottom: 76px;
    margin-left: 0;
  }
}

.catalog__list {
  @include ul-reset;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin-bottom: 25px;
  }
}

.catalog__item-image {
  @include size(140px, 144px);
  display: block;
}

@media (min-width: $tablet-width) {
  .catalog__item-image {
    @include size(100%, auto);
    position: absolute;
    bottom: 305px;
    left: 0;
  }
}

.catalog__item-link {
  text-decoration: none;
}

.catalog__item-title {
  text-transform: uppercase;
  max-width: 100px;
  margin-top: 0;
  margin-bottom: 12px;
  color: $color-primary--dark;
}

.title--sm.catalog__item-title {
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__item-title {
    text-align: center;
    max-width: 130px;
    margin: auto;
  }
}

.catalog__item-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .catalog__item-wrapper {
    flex-direction: column;
  }
}

.catalog__item-picture,
.catalog__item-info {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .catalog__item-picture {
    width: 100%;
  }
}

.catalog__item-info {
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog__item-info {
    width: 100%;
    padding-top: 20px;
    padding-right: 36px;
    padding-bottom: 20px;
    padding-left: 36px;
  }
}

.catalog__button {
  margin: 0 auto;
  width: 280px;
  display: block;
  color: $color-secondary;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__button {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__button {
    width: 170px;
  }
}

.catalog__item-desc {
  font-size: 12px;
  line-height: 12px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .catalog__item-desc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 14px;
    border-collapse: collapse;
  }
}

.catalog__item-field {
  padding: 0;
}

.catalog__item-value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog__item-value {
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
  }
}
