.catalog__item {
  border-top: 1px solid $border-gray-light;
  margin-bottom: 24px;
  /*padding: 0 20px;*/
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    width: 324px;
    padding: 40px 38px;
    border: none;
    background-color: $background-color-secondary;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}

.catalog__title {
  margin: 32px 0 36px 0;
  color: $color-primary--dark;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding: 0;
  }
}

.catalog__list {
  @include ul-reset;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin-bottom: 55px;
  }
}

.catalog__item-image {
  @include size(140px, 144px);
  display: block;
}

@media (min-width: $tablet-width) {
  .catalog__item-image {
    @include size(100%, auto);
  }
}

.catalog__item-link {
  text-decoration: none;
}

.catalog__item-title {
  text-transform: uppercase;
  max-width: 100px;
  margin-bottom: 14px;
  color: $color-primary--dark;
}

@media (min-width: $tablet-width) {
  .catalog__item-title {
    text-align: center;
    max-width: 128px;
    margin: auto;
  }
}

.catalog__item-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .catalog__item-wrapper {
    flex-direction: column;
  }
}

.catalog__item-picture,
.catalog__item-info {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .catalog__item-picture,
  .catalog__item-info {
    width: 100%;
  }
}

.catalog__item-info {
  padding: 21px 0;
  box-sizing: border-box;
}

.catalog__button {
  width: 100%;
  color: $color-secondary;
  font-size: 16px;
}

.catalog__item-desc {
  font-size: 12px;
  line-height: 1;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .catalog__item-desc {
    font-size: 16px;
  }
}

.catalog__item-value {
  text-align: right;
}
