.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 71px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 40px;
    padding-top: 62px;
    padding-bottom: 57px;
    padding-left: 76px;
    padding-right: 90px;
    box-sizing: border-box;
    background-color: $background-color-tertiary;
    width: 570px;
  }
}

.contacts__note {
  @include font($font-family-secondary, 400, 16px, 1.25, $color-primary--dark);
  text-transform: uppercase;
  width: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__note {
    font-size: 20px;
    max-width: 155px;
    padding-top: 2px;
  }
}

.contacts__address-wrapper {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__address-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address-wrapper {
    text-align: left;
    max-width: 155px;
  }
}

.contacts__address {
  max-width: 262px;
  line-height: 1.43;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    max-width: 100%;
    line-height: 1.25;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    max-width: 156px;
  }
}

.contacts__city {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__city {
    margin-top:  18px;
  }
}

.contacts__map {
  @include size(100%, 362px);
  display: block;
}

@media (min-width: $tablet-width)  {
  .contacts__map {
    @include size(100%, 400px);
  }
}
