.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $background-color-secondary;
}

.contacts__wrapper--index {
  background-color: $background-color-tertiary;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 71px;
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 40px;
    padding-top: 62px;
    padding-bottom: 57px;
    padding-left: 76px;
    padding-right: 90px;
    box-sizing: border-box;
    background-color: $background-color-tertiary;
    width: 570px;
    z-index: 1;
  }
}

.contacts__note {
  @include font($font-family-secondary, 400, 16px, 1.25, $color-primary--dark);
  text-transform: uppercase;
  width: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__note {
    font-size: 20px;
    max-width: 155px;
    padding-top: 2px;
  }
}

.contacts__address-wrapper {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .contacts__address-wrapper {
    text-align: right;
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address-wrapper {
    text-align: left;
    max-width: 155px;
  }
}

.contacts__address {
  max-width: 262px;
  line-height: 1.43;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    max-width: 100%;
    line-height: 1.25;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    max-width: 156px;
  }
}

.contacts__city {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__city {
    margin-top: 18px;
  }
}

.contacts__map {
  position: relative;
  height: 363px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 141px;
    left: calc(50% - 53px/2);
    width: 55px;
    height: 53px;
    background: url(../img/map-pin.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}


.contacts__map-image {
  width: 320px;
  height: 363px;
}

.contacts__map iframe {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    height: 396px;

    &::after {
      top: 146px;
      left: calc(50% - 124px/2);
      width: 124px;
      height: 124px;
    }
  }

  .contacts__map-image {
    width: 100%;
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map-image {
    height: 400px;
  }

  .contacts__map {
    height: 400px;

    &::after {
      top: 150px;
      left: calc(76.1% - 124px/2);
    }
  }
}
