.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $background-color-secondary;

  @media (min-width: $tablet-width) {
    padding-top: 0px;
    padding-right: 71px;
    padding-bottom: 0px;
    padding-left: 71px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 40px;
    padding-top: 62px;
    padding-bottom: 57px;
    padding-left: 76px;
    padding-right: 90px;
    box-sizing: border-box;
    background-color: $background-color-tertiary;
    width: 570px;
    z-index: 1;
  }
}

.contacts__wrapper--index {
  background-color: $background-color-tertiary;
}

.contacts__note {
  @include font($font-family-secondary, 400, 16px, 1.25, $color-primary--dark);
  text-transform: uppercase;
  width: 50%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 155px;
    padding-top: 2px;
  }
}

.contacts__address-wrapper {
  width: 50%;

  @media (min-width: $tablet-width) {
    text-align: right;
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    max-width: 155px;
  }
}

.contacts__address {
  max-width: 262px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 156px;
  }
}

.contacts__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }
}

.contacts__map {
  position: relative;
  height: 363px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &::after {
    @include pseudo;
    top: 141px;
    left: 50%;
    @include size(55px, 53px);
    background: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: 146px;
      left: 42%;
      @include size(124px, 124px);
    }

    @media (min-width: $desktop-width) {
      top: 150px;
      left: 71.4%;
    }
  }
}

.contacts__map-image {
  @include size(320px, 363px);

  @media (min-width: $tablet-width) {
    @include size(100%, 396px);
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.contacts__map iframe {
  position: absolute;
  display: block;
  @include size(100%, 100%);
  border: 0;
}
