.container {
  display: block;
  width: 280px; /*Либо auto если макет резиновый*/
  padding: 0 20px;
  margin: 0 auto; /*Временно для выравнивания контейнера фиксированной ширины по центру*/
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px; /*Либо auto если макет резиновый*/
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px; /*Либо auto если макет резиновый*/
    padding: 0 110px;
  }
}


