.copyright {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.copyright__logo {
  object-fit: cover;
  @include size(27px, 34px);
}

@media (min-width: $tablet-width) {
  .copyright__logo {
    margin-left: 23px;
  }
}

.copyright__link {
  font-size: 16px;
  color: $color-primary;
  line-height: 1;
  text-decoration: none;
}
