.example {
  background: $background-color-secondary;
  padding: 29px 0 39px 0;
  margin-top: 42px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $background-color-tertiary;
    padding: 0;
    margin-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 650px;
    justify-content: flex-end;
    background: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 208px, $background-color-secondary 208px, $background-color-secondary);
    padding-bottom: 22px;
    margin-top: 0;
  }
}

.example__title {
  color: $color-primary--dark;
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin-bottom: 64px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    position: relative;
    z-index: 1;
    padding: 0 40px;
    box-sizing: border-box;
    background: $background-color-tertiary;
    margin-bottom: 146px;
  }
}

.example__desc {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 21px;
}

@media (min-width: $tablet-width) {
  .example__desc {
    margin-bottom: 53px;
    padding: 0 37px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__desc {
    max-width: 435px;
    padding-left: 40px;
    margin-bottom: 0px;
  }
}

.example__stats {
  @include ul-reset;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 34px;
  padding-left: 19px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__stats {
    margin-bottom: 87px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .example__stats {
    margin-bottom: 0;
  }
}

.example__stats-item {
  width: 124px;
  border: 1px solid $border-gray--darken;
  border-radius: 3px;
  position: relative;
  padding: 12px 0 18px 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .example__stats-item {
    width: 162px;
    margin-right: 42px;
    padding: 18px 0 22px 0;
  }
}

.example__stats-value {
  @include font($font-family-secondary, 400, 24px, 1, $color-primary--dark);
  display: block;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__stats-value {
    font-size: 30px;
  }
}

.example__stats-field {
  @include font($font-family-tertiary, 400, 12px, 1, $color-primary);
  position: absolute;
  bottom: -16px;
  left: 50%;
  width: 80px;
  max-width: 80px;
  margin-left: calc(-80px / 2);
  background: $background-color-secondary;
}

@media (min-width: $tablet-width) {
  .example__stats-field {
    font-size: 14px;
    background-color: $background-color-tertiary;
    width: 130px;
    max-width: 130px;
    margin-left: calc(-130px / 2);
    bottom: -6px;
  }
}

@media (min-width: $desktop-width) {
  .example__stats-field {
    background-color: $background-color-secondary;
  }
}

.example__expenses {
  @include font($font-family-secondary, 400, 14px, 1.43, $color-primary--dark);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .example__expenses {
    font-size: 20px;
    max-width: 175px;
    text-align: right;
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .example__expenses {
    max-width: inherit;
    text-align: left;
    margin-top: 56px;
    margin-bottom: 50px;
  }
}

@media (min-width: $tablet-width) {
  .example__stats-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .example__stats-wrapper {
    flex-direction: column;
    width: 405px;
    padding-left: 40px;
    margin-top: 68px;
  }
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    position: relative;
  }

  .example__wrapper::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 100vw;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 168px, #eaeaea 168px, #eaeaea);
  }

  .example__wrapper::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: auto;
    bottom: 0;
    width: 50vw;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 168px, #f2f2f2 168px, #f2f2f2);
  }
}


@media (min-width: $desktop-width) {
  .example__wrapper {
    background-color: inherit;
    margin-left: auto;
  }

  .example__wrapper::before {
    width: 50vw;
  }
}
