.form__title {
  margin-top: 30px;
  margin-bottom: 35px;
  color: $color-primary--dark;
  padding: 0 20px;
}

.form__desc {
  @include font(Oswald, 400, 14px, 1.29, $color-primary--dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 39px;
  padding: 0 20px;
  max-width: 230px;
}

.form-main__group {
  border: none;
  margin-top: 31px;
}

.form-main__group--nopadding {
  padding: 0;
}

.form-main__group--padding {
  padding: 0 20px;
}

.form-main__list {
  @include ul-reset;
}

.form-main__list--padding {
  padding-top: 21px;
  padding-bottom: 8px;
}

.form-main__list--border {
  border-top: solid 1px $border-gray-light;
  border-bottom: solid 1px $border-gray-light;
}

.form-main__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.form-main__title-wrapper {
  color: $color-primary--dark;
  margin-bottom: 30px;
  position: relative;
  padding: 0;
  width: 100%;

  &::before {
    @include pseudo;
    @include size(100%, 3px);
    background-color: $background-color-primary;
    z-index: -1;
    top: 50%;
    right: -22px;
  }
}

.form-main__title-wrapper span {
  background-color: #ffffff;
  padding-right: 22px;
  box-sizing: border-box;
}

.form-main__label {
  @include font(Oswald, 400, 16px, 1.13, $color-primary--darken);
  text-transform: uppercase;
  margin-right: 15px;
  flex-shrink: 0;
  position: relative;
}

.form-main__input {
  border: solid 1px $border-gray--darken;
  padding: 15px 16px;
  width: 100%;

  &::placeholder {
    @include font(Oswald, 400, 16px, 1.13, $color-primary);
    text-transform: uppercase;
  }
}

.form-main__input--radiobutton {
  @include visually-hidden;
}

.form-main__label--radiobutton {
  padding-left: 66px;
  line-height: 30px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    border-radius: 50%;
    top: 0;
    left: 20px;
    padding: 8px;
  }
}

.form-main__input--radiobutton:checked + .form-main__label--radiobutton::before {
  background-color: $background-color-primary;
  background-clip: content-box;
}

.form-main__group-textarea {
  @include size(100%, 150px);
  resize: none;
  padding: 15px 10px 13px 13px;
  box-sizing: border-box;
  border-color: $border-gray--darken;

  &::placeholder {
    @include font(Oswald, 400, 16px, 1.13, $color-primary);
    text-transform: uppercase;
    text-align: center;
  }
}

.form-main__input--checkbox {
  @include visually-hidden;
}

.form-main__label--checkbox {
  padding-left: 46px;
  line-height: 30px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    top: 0;
    left: 0;
  }
}

.form-main__input--checkbox:checked + .form-main__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.form-main__wrapper-button {
  padding: 0 20px;
}

.form-main__button {
  width: 100%;
  border: none;
  color: $color-secondary;
  margin-top: 34px;
  margin-bottom: 34px;
}

.form__note {
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;
}
