.form__title {
  margin-top: 30px;
  margin-bottom: 35px;
  color: $color-primary--dark;
}

.form__desc {
  @include font(Oswald, 400, 14px, 1.29, $color-primary--dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 230px;
}

@media (min-width: $tablet-width) {
  .form__desc {
    font-size: 20px;
    max-width: 330px;
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .form__desc {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .form-main {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding: 0;
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-wrapper .form-main__group {
    width: 570px;
  }
}

.form-main__group {
  border: none;
  margin: 0;
  margin-top: 31px;
}

.form-main__group--data,
.form-main__group--contacts,
.form-main__group--comments,
.form-main__group--additional {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form-main__group--data,
  .form-main__group--contacts,
  .form-main__group--comments,
  .form-main__group--additional {
    padding: 0;
  }
}

.form-main__group--program {
  padding: 0;
}

.form-main__list {
  @include ul-reset;
}

@media (min-width: $desktop-width) {
  .form-main__group--contacts .form-main__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group--additional .form-main__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-main__list--padding {
  padding-top: 21px;
  padding-bottom: 8px;
}

.form-main__list--border {
  border-top: solid 1px $border-gray-light;
  border-bottom: solid 1px $border-gray-light;
}

@media (min-width: $tablet-width) {
  .form-main__list--border {
    border: solid 1px $border-gray-light;
  }
}

.form-main__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .form-main__group--additional .form-main__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--additional .form-main__item {
    width: 25%;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--contacts .form-main__item {
    width: 570px;
  }
}

.form-main__title-wrapper {
  color: $color-primary--dark;
  margin-bottom: 30px;
  position: relative;
  padding: 0;
  width: 100%;

  &::before {
    @include pseudo;
    @include size(100%, 3px);
    background-color: $background-color-primary;
    z-index: -1;
    top: 50%;
    right: -20px;
  }
}

.form-main__title-wrapper span {
  background-color: #ffffff;
  padding-right: 22px;
  box-sizing: border-box;
}

.form-main__label {
  @include font(Oswald, 400, 16px, 1.13, $color-primary--darken);
  text-transform: uppercase;
  margin-right: 15px;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .form-main__label {
    font-size: 20px;
  }
}

.form-main__input {
  border: solid 1px $border-gray--darken;
  padding: 15px 16px;
  width: 100%;

  &::placeholder {
    @include font(Oswald, 400, 16px, 1.13, $color-primary);
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-main__input {
    &::placeholder {
      font-size: 20px;
    }
  }
}

.form-main__input--radiobutton {
  @include visually-hidden;
}

.form-main__label--radiobutton {
  padding-left: 46px;
  line-height: 30px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    border-radius: 50%;
    top: 0;
    left: 0;
    padding: 8px;
  }
}

@media (min-width: $tablet-width) {
  .form-main__label--radiobutton {
    padding-left: 88px;

    &::before {
      left: 28px;
    }
  }
}

.form-main__input--radiobutton:checked + .form-main__label--radiobutton::before {
  background-color: $background-color-primary;
  background-clip: content-box;
}

.form-main__group-textarea {
  @include size(100%, 150px);
  resize: none;
  padding: 15px 10px 13px 13px;
  box-sizing: border-box;
  border: 1px solid $border-gray--darken;

  &::placeholder {
    @include font(Oswald, 400, 16px, 1.13, $color-primary);
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group-textarea {
    &::placeholder {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-textarea {
    height: 174px;
  }
}

.form-main__input--checkbox {
  @include visually-hidden;
}

.form-main__label--checkbox {
  padding-left: 46px;
  line-height: 30px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-main__label--checkbox {
    &::before {
      @include size(40px, 40px);
    }
  }
}

.form-main__input--checkbox:checked + .form-main__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

@media (min-width: $tablet-width) {
  .form-main__wrapper-button {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.form-main__button {
  width: 100%;
  border: none;
  color: $color-secondary;
  margin-top: 34px;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .form-main__button {
    width: 283px;
    flex-grow: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-main__button {
    width: 570px;
  }
}

.form-main__note {
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .form-main__note {
    width: 50%;
    margin-bottom: 0;
    text-align: left;
    padding-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__note {
    width: auto;
    padding-left: 80px;
  }
}
