.form {
  overflow: hidden;
}

.form__title {
  margin-top: 16px;
  margin-bottom: 25px;
  color: $color-primary--dark;
}

@media (min-width: $tablet-width) {
  .form__title {
    margin-top: 40px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    margin-top: 59px;
    margin-bottom: 55px;
  }
}

.form__desc {
  @include font($font-family-secondary, 400, 14px, 18px, $color-primary--dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 230px;
}

@media (min-width: $tablet-width) {
  .form__desc {
    font-size: 20px;
    line-height: 30px;
    max-width: 330px;
    padding: 0 40px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .form__desc {
    padding: 0;
    margin-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding: 0;
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-wrapper .form-main__group {
    width: 570px;
    padding: 0;
  }
}

.form-main__group {
  border: none;
  margin: 0;
  margin-top: 10px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .form-main__group {
    margin-top: 52px;
  }
}

.form-main__group--data {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form-main__group--data {
    padding-left: 41px;
    padding-right: 37px;
  }
}

.form-main__group--contacts,
.form-main__group--comments,
.form-main__group--additional {
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    top: 14px;
    left: 0;
    height: 3px;
    background-color: #68b738;
  }
}

.form-main__group--contacts {
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .form-main__group--contacts,
  .form-main__group--comments,
  .form-main__group--additional {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      top: 22px;
      right: 0;
      height: 3px;
      background-color: #68b738;
    }

    &::after {
      top: 22px;
    }
  }
}

@media (min-width: $tablet-width) {
  .form-main__group--contacts {
    margin-top: 75px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--contacts {
    margin-top: 49px;
  }
}

.form-main__group--comments {
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .form-main__group--comments {
    margin-top: 46px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--comments {
    margin-top: 48px;
  }
}

.form-main__group--additional {
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .form-main__group--additional {
    margin-top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--additional {
    margin-top: 67px;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group--contacts,
  .form-main__group--comments,
  .form-main__group--additional {
    padding: 0;
  }
}

.form-main__group--program {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form-main__group--program {
    padding-left: 41px;
    padding-right: 37px;
  }
}

.form-main__list {
  @include ul-reset;
}

@media (min-width: $tablet-width) {
  .form-main__group--contacts .form-main__list {
    padding-left: 40px;
    padding-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--contacts .form-main__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group--additional .form-main__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--additional .form-main__list {
    padding: 0;
  }
}

.form-main__list--padding {
  padding-top: 18px;
  padding-bottom: 5px;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: $tablet-width) {
  .form-main__list--padding {
    padding-top: 29px;
    padding-bottom: 9px;
  }
}

.form-main__list--border {
  border-top: solid 1px $border-gray--darken;
  border-bottom: solid 1px $border-gray--darken;
}

@media (min-width: $tablet-width) {
  .form-main__list--border {
    border: solid 1px $border-gray--darken;
    margin: 0;
  }
}

.form-main__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

@media (min-width: $tablet-width) {
  .form-main__item {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group--additional .form-main__item {
    width: 50%;
    margin-bottom: 41px;
    box-sizing: border-box;
  }

  .form-main__group--additional .form-main__item:nth-child(even) {
    padding-left: 29px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--additional .form-main__item {
    width: 25%;
  }

  .form-main__group--additional .form-main__item:nth-child(2) {
    padding-left: 20px;
  }

  .form-main__group--additional .form-main__item:nth-child(3) {
    padding-left: 39px;
  }

  .form-main__group--additional .form-main__item:nth-child(4) {
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__group--contacts .form-main__item {
    width: 570px;
  }
}

.form-main__title-wrapper {
  color: $color-primary--dark;
  margin-bottom: 33px;
  position: relative;
  padding: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form-main__title-wrapper {
    margin-bottom: 75px;
  }

  .form-main__group--additional .form-main__title-wrapper {
    margin-bottom: 62px;
  }
}

.form-main__title-wrapper span {
  background-color: #ffffff;
  padding-right: 22px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.form-main__group--contacts .form-main__title {
  width: 203px;
}

@media (min-width: $tablet-width) {
  .form-main__group--contacts .form-main__title {
    width: auto;
  }
}

@media (min-width: $tablet-width) {
  .form-main__title-wrapper span {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__title-wrapper span {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.form-main__label {
  @include font($font-family-secondary, 400, 16px, 18px, $color-primary--darken);
  text-transform: uppercase;
  margin-right: 15px;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .form-main__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 17px;
  }
}

.form-main__input {
  @include font($font-family-secondary, 400, 16px, 18px, $color-primary);
  border: solid 1px $border-gray--darken;
  padding: 12px 13px;
  padding-top: 13px;
  width: 100%;

  &::placeholder {
    @include font($font-family-secondary, 400, 16px, 18px, $color-primary);
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-main__input {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;

    &::placeholder {
      font-size: 20px;
    }
  }
}

.form-main__input-icon {
  position: absolute;
}

.form-main__input-icon--email {
  top: 0;
  right: 16px;
}

@media (min-width: $tablet-width) {
  .form-main__input-icon--email {
    top: 5px;
    right: 19px;
  }
}

.form-main__input-icon--phone {
  top: 0;
  right: 12px;
}

@media (min-width: $tablet-width) {
  .form-main__input-icon--phone {
    top: 6px;
    right: 14px;
  }
}






.form-main__group--contacts .form-main__input:invalid + .form-main__input-icon {
  fill: #ff8282;
}

.form-main__input:invalid,
.form-main__group-textarea:invalid {
  border: 2px solid #ff8282;
  padding: 11px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-main__input--radiobutton {
  @include visually-hidden;
}

.form-main__label--radiobutton {
  padding: 6px 0;
  padding-left: 65px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    border-radius: 50%;
    top: -1px;
    left: 20px;
    padding: 8px;
  }
}

@media (min-width: $tablet-width) {
  .form-main__label--radiobutton {
    padding-left: 88px;

    &::before {
      @include size(40px, 40px);
      left: 27px;
      top: -4px;
      padding: 10px;
    }
  }
}

.form-main__input--radiobutton:checked + .form-main__label--radiobutton::before {
  background-color: $background-color-primary;
  background-clip: content-box;
}

.form-main__group-textarea {
  @include size(280px, 150px);
  resize: none;
  padding: 14px 10px 14px 13px;
  box-sizing: border-box;
  border: 1px solid $border-gray--darken;

  &::placeholder {
    @include font($font-family-secondary, 400, 16px, 1.13, $color-primary);
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-main__group-textarea {
    height: 175px;
    padding: 14px 10px 14px 19px;
    width: 631px;
    margin: 0 auto;
    display: block;

    &::placeholder {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-main__group-textarea {
    width: 1220px;
  }
}

.form-main__input--checkbox {
  @include visually-hidden;
}

.form-main__label--checkbox {
  padding-left: 46px;
  line-height: 30px;

  &::before {
    @include pseudo;
    @include size(30px, 30px);
    box-sizing: border-box;
    border: 1px solid $border-gray--darken;
    top: 2px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .form-main__label--checkbox {
    padding-left: 58px;

    &::before {
      @include size(40px, 40px);
      top: -5px;
    }
  }
}

.form-main__input--checkbox:checked + .form-main__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.form-main__wrapper-button {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .form-main__wrapper-button {
    display: flex;
    align-items: center;
    margin-bottom: 58px;
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__wrapper-button {
    padding: 0;
  }
}

.form-main__button {
  width: 100%;
  border: none;
  color: $color-secondary;
  margin-top: 16px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .form-main__button {
    width: 285px;
    flex-grow: 0;
    margin-top: 19px;
    margin-bottom: 16px;
    padding: 16px 0 16px 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__button {
    width: 570px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 16px 0 16px 4px;
  }
}

.form-main__note {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .form-main__note {
    font-size: 16px;
    line-height: 16px;
    width: 50%;
    margin-bottom: 0;
    text-align: left;
    padding-left: 83px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__note {
    width: auto;
    padding-left: 80px;
  }
}
