.gift {
  @include size(280px, 289px);
  display: block;
  background-color: $background-color-primary--dark;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .gift {
    @include size(100%, 200px);
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    box-sizing: border-box;
    display: flex;
    padding-left: 91px;
    padding-right: 125px;
    margin-bottom: 77px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    @include size(245px, 289px);
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    display: block;
    padding: 0;
  }
}

.gift__text {
  @include font($font-family-tertiary, 400, 16px, 1.25, $color-secondary);
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-top: 187px;
  width: 170px;

  &::before {
    @include pseudo;
    @include size(56px, 61px);
    object-fit: contain;
    background-image: url("../img/icon-gift.svg");
    left: 50%;
    margin-left: calc(-56px / 2);
    top: 65px;
  }
}

@media (min-width: $tablet-width) {
  .gift__text {
    padding: 0;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: auto;
    text-align: left;
    max-width: 161px;
    padding-top: 2px;

    &::before {
      left: 0;
      margin-left: -331px;
      top: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift__text {
    padding-top: 188px;
    margin: 0 auto;
    text-align: center;

    &::before {
      left: 50%;
      margin-left: calc(-56px / 2);
      top: 65px;
    }
  }
}
