.main-nav__toggle {
  @include size(24px, 24px);
  box-sizing: content-box;
  margin: 20px;
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 2;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 0;
  padding: 0;

  &:hover,
  &:active {
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    @include pseudo;
    top: 0;
    left: 0;

    @include size(24px, 2px);
    background-color: $background-color-fourth;
    box-shadow: 0 8px 0 0 $background-color-fourth, 0 16px 0 0 $background-color-fourth;
  }

  &:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
  }
}

.main-nav--opened .main-nav__toggle {
  top: -1px;

  &::before,
  &::after {
    @include pseudo;
    left: 0;

    @include size(24px, 2px);
    background-color: $background-color-fourth;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav {
  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}
