.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list__item {
  border-top: 1px solid $border-gray;
  padding: 22px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .menu-list__item {
    border: none;
    margin-left: 0;
    padding: 45px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item {
    padding: 75px 0 0;
  }
}

.menu-list__link {
  @include font($font-family-primary, 500, 20px, 1, $color-primary--dark);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .menu-list__link {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .menu-list__link {
    font-size: 19px;
  }

  .menu-list__link--index {
    color: $color-secondary;
  }
}
