.menu-list {
  @include ul-reset;
}

.menu-list__item {
  border-top: 1px solid $border-gray;
  padding-top: 42px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 0;
    padding-top: 42px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

.menu-list__link {
  @include font($font-family-primary, 500, 20px, 1, $color-primary--dark);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active, &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 25px;
    color: $color-primary--darken;
  }

  @media (min-width: $desktop-width) {
    font-size: 19px;
  }
}

.menu-list__link--index {
  @media (min-width: $desktop-width) {
    color: $color-secondary;
  }
}

.menu-list__item--active a {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $border-green;
    padding-bottom: 7px;
  }
}

.menu-list__item--active a.menu-list__link--index {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $border-white;
  }
}
