.more {
  text-align: center;
  border-top: 1px solid $border-gray-light;
  border-bottom: 1px solid $border-gray-light;
  padding-top: 25px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .more {
    background-color: $background-color-tertiary;
    border-right: 1px solid $border-gray-light;
    border-left: 1px solid $border-gray-light;
    padding-top: 29px;
    padding-bottom: 22px;
    margin-top: 91px;
  }
}

.more__title {
  color: $color-primary--dark;
  text-transform: uppercase;
  position: relative;
  padding-top: 56px;
  display: block;

  &::after {
    @include pseudo;
    top: 0;
    left: 50%;
    margin-left: calc(-30px / 2);

    @include size(30px, 30px);
    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .more__title {
    padding-top: 134px;
    max-width: 140px;
    margin: 0 auto;

    &::after {
      @include size(60px, 60px);
      top: 25px;
      margin-left: calc(-60px / 2);
    }
  }
}

@media (min-width: $desktop-width) {
  .more__title {
    padding-top: 132px;
  }
}

.more__button {
  width: 100%;
  color: $color-primary;
}

@media (min-width: $tablet-width) {
  .more__button {
    font-size: 16px;
    margin: 0 auto;
    width: 250px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .more__button {
    width: 170px;
  }
}

.more__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 11px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .more__text {
    font-size: 16px;
    max-width: 170px;
    margin: 27px auto 87px auto;
    line-height: 17px;
  }
}
