.page-footer {
  background-color: $background-color-secondary;
  padding: 28px 0 19px 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 61px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 0;
  }
}

.page-footer__top {
  margin-top: 0;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-footer__top {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__top {
    position: relative;
  }
}

.page-footer--index {
  background-color: $background-color-tertiary;
}

@media (min-width: $tablet-width) {
  .page-footer__bottom {
    background-color: $background-color-secondary;
    padding-top: 49px;
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 0 27px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin: 0;
  }
}

.page-footer__logo-image {
  @include size(128px, 24px);
}

.page-footer__social {
  border-top: 1px solid $border-gray--dark;
  border-bottom: 1px solid $border-gray--dark;
  margin: 0 0 17px 0;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    margin: 0 0 0 32px;
    border: none;
  }
}
