.page-header__wrapper {
  position: relative;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid transparent;
  }
}

.page-header__logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
  }
}

.page-header__title {
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  @media (min-width: $tablet-width) {
    border: none;
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-header.page-header--index {
  @media (min-width: $desktop-width) {
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    &::before {
      @include pseudo;
      top: 0;
      right: 0;

      @include size(50%, 696px);
      background-color: $background-color-primary--dark;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: auto 696px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}

.page-header__logo-image {
  @include size(192px, 38px);
  display: block;

  @media (min-width: $tablet-width) {
    @include size(174px, auto);
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-top: -5px;
  }
}

.page-header__title-image {
  @include size(101px, 18px);
  display: block;
}
