
.page-footer {
  background-color: $background-color-secondary;
  padding: 39px 0 22px 0;
}

.page-footer__logo {
  display: block;
  margin: 0 0 31px 0;
  text-align: center;
}

.page-footer__logo-image {
  @include size(128px, 24px);
}

.page-footer__social {
  border-top: 1px solid $border-gray--dark;
  border-bottom: 1px solid $border-gray--dark;
  margin: 0 0 18px 0;
}

.page-footer__copyright {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.copyright__logo {
  object-fit: cover;
}

.copyright__link {
  font-size: 16px;
  color: $color-primary;
  line-height: 1;
  text-decoration: none;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  font-size: 0;
}

.social__link {
  display: block;
  position: relative;
  @include size(62px, 62px);
  &::before {
    @include size(62px, 62px);
    @include pseudo();
    top: 0;
    left: 0;
  }
}

.social__link--vkontakte:before {
  background: url("../img/icon-vk.svg") center no-repeat;
  background-size: 22px 12px;
}

.social__link--instagram:before {
  background: url("../img/icon-insta.svg") center no-repeat;
  background-size: 17px 17px;
}

.social__link--facebook:before {
  background: url("../img/icon-fb.svg") center no-repeat;
  background-size: 10px 19px;
}
