.page-header {
  border-bottom: 1px solid $border-gray
}
.page-header__logo {
  display: block;
  padding: 11px 0 11px 20px;
}
.page-header__logo-image {
  @include size(191px, 39px);
  display: inline-block;
}

