.page-footer {
  background-color: $background-color-secondary;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 0;
    background-color: $background-color-secondary;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-footer--index {
  padding-top: 28px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    background-color: $background-color-tertiary;
    padding-top: 63px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-footer__top {
  margin-top: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__bottom {
  @media (min-width: $tablet-width) {
    background-color: $background-color-secondary;
    padding-top: 49px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__logo-image {
  @include size(128px, 24px);
}

.page-footer__social {
  border-top: 1px solid $border-gray--dark;
  border-bottom: 1px solid $border-gray--dark;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 13px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 32px;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 29px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
