.programmes {
  margin: 0 0 17px 0;
}

@media (min-width: $tablet-width) {
  .programmes {
    margin: 0 0 46px 0;
  }
}

@media (min-width: $desktop-width) {
  .programmes {
    margin: 0 0 43px 0;
  }
}

.programmes__list {
  @include ul-reset;
}

@media (min-width: $desktop-width) {
  .programmes__list {
    display: flex;
    justify-content: space-between;
  }
}

.programmes__item {
  background-color: $background-color-secondary;
  margin-top: 23px;
  padding: 18px 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.programmes__item:first-child {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .programmes__item {
    padding: 62px 62px 40px 52px;
    margin: 0 0 32px 0;
  }
}

@media (min-width: $desktop-width) {
  .programmes__item {
    width: 570px;
    box-sizing: border-box;
    padding: 64px 62px 42px 52px;
  }
}

.programmes__title {
  color: $color-primary--dark;
  margin: 0 0 36px 0;
  padding: 17px 0 0 72px;
  position: relative;
  text-transform: uppercase;

  &::before {
    @include pseudo;
    @include size(50px, 50px);
    background-color: $background-color-primary;
    border-radius: 50%;
    top: 5px;
    left: 2px;
  }

  &::after {
    @include pseudo;
  }
}

@media (min-width: $tablet-width) {
  .programmes__title {
    padding-top: 14px;
    padding-left: 0;
    margin: 0 0 25px 0;

    &::before {
      @include size(200px, 200px);
      left: auto;
      right: 0;
      top: 29px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programmes__title {
    padding-left: 162px;
    margin: 0 0 73px 0;

    &::before {
      @include size(100px, 100px);
      left: 0;
      right: auto;
      top: -15px;
    }
  }
}

.programmes__item--losing-weight .programmes__title::after {
  @include size(35px, 49px);
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  top: 3px;
  left: 10px;
}

@media (min-width: $tablet-width) {
  .programmes__item--losing-weight .programmes__title::after {
    @include size(141px, 194px);
    left: auto;
    right: 29px;
    top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .programmes__item--losing-weight .programmes__title::after {
    @include size(71px, 97px);
    left: 14px;
    right: auto;
    top: -22px;
  }
}

.programmes__item--gaining-weight .programmes__title::after {
  @include size(67px, 28px);
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  top: 16px;
  left: -7px;
}

@media (min-width: $tablet-width) {
  .programmes__item--gaining-weight .programmes__title::after {
    @include size(268px, 113px);
    left: auto;
    top: 72px;
    right: -34px;
  }
}

@media (min-width: $desktop-width) {
  .programmes__item--gaining-weight .programmes__title::after {
    @include size(134px, 57px);
    left: -19px;
    right: auto;
    top: 6px;
  }
}

.programmes__description {
  margin: 22px 0;
}

@media (min-width: $tablet-width) {
  .programmes__description {
    border: none;
    padding: 0;
    margin: 0;
  }

  .programmes__item--losing-weight .programmes__description {
    max-width: 375px;
  }

  .programmes__item--gaining-weight .programmes__description {
    max-width: 343px;
  }
}

@media (min-width: $desktop-width) {
  .programmes__description {
    font-size: 16px;
    line-height: 24px;
  }

  .programmes__item--losing-weight .programmes__description,
  .programmes__item--gaining-weight .programmes__description {
    max-width: 100%;
  }
}

.programmes__button {
  color: $color-primary--dark;
  line-height: 16px;
  position: relative;
  padding-top: 19px;
  padding-right: 44px;
  padding-bottom: 22px;
  padding-left: 0;
  border-top: 1px solid $border-gray--dark;
  width: 100%;
  text-align: left;

  &::before {
    @include pseudo;
    @include size(25px, 12px);
    background-image: url("../img/icon-right-arrow-long.svg");
    background-size: contain;
    top: 24px;
    left: 98px;
  }
}

@media (min-width: $tablet-width) {
  .programmes__button {
    padding-top: 59px;
    border-top: none;

    &::before {
      top: 61px;
      left: 128px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programmes__button {
    padding-top: 33px;

    &::before {
      top: 36px;
    }
  }
}
