@media (min-width: $tablet-width) {
  .properties {
    border-bottom: 1px solid $border-gray;
  }
}

@media (min-width: $desktop-width) {
  .properties {
    border-bottom: 1px solid transparent;
  }
}

.properties__title {
  margin: 0 0 40px 0;
  color: $color-primary--dark;
}

@media (min-width: $tablet-width) {
  .properties__title {
    margin: 0 0 72px 0;
  }
}

@media (min-width: $desktop-width) {
  .properties__title {
    margin: 0 0 71px 0;
  }
}

.properties__list {
  @include ul-reset;
}

@media (min-width: $tablet-width) {
  .properties__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.properties__item {
  align-items: center;
  display: flex;
  min-height: 60px;
  margin: 0 0 20px 0;
  padding: 0 0 0 80px;
  position: relative;

  &::before {
    @include size(60px, 60px);
    @include pseudo;
    background: center no-repeat $background-color-primary;
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .properties__item {
    display: block;
    width: 324px;
    padding: 0;
    min-height: 235px;
    counter-increment: item_number;
    margin: 32px 0 50px 0;

    &::before {
      @include size(80px, 80px);
    }

    &::after {
      position: absolute;
      display: block;
      content: counter(item_number);
      top: -40px;
      right: 76px;
      z-index: -1;

    @include font($font-family-primary, 400, 281px, 281px, $color-secondary--dark);
    }
  }

  .properties__item--nutrients::after {
    right: 95px;
  }

  .properties__item--composition::after {
    right: 79px;
  }

  .properties__item--mealtimes::after {
    right: 77px;
  }
  .properties__item--period::after {
    right: 75px;
  }
}

@media (min-width: $desktop-width) {
  .properties__item {
    width: 245px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .properties__item--nutrients::after {
    right: 17px;
  }

  .properties__item--composition::after,
  .properties__item--mealtimes::after,
  .properties__item--period::after {
    right: 0;
  }
}

.properties__item--nutrients::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.properties__item--composition::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.properties__item--mealtimes::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.properties__item--period::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .properties__text {
    margin-top: 112px;
    display: block;
    width: 250px;
  }
}

@media (min-width: $tablet-width) {
  .properties__item--nutrients,
  .properties__item--composition {
    margin-top: 0;
  }
}
