.slider__toggle *,
.slider__toggle *::before,
.slider__toggle *::after {
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .slider {
    background: linear-gradient(to right, $background-color-secondary 50%, $background-color-secondary--light 50%);
  }
}

.slider__list {
  @include ul-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .slider__list {
    flex-wrap: nowrap;
    position: relative;
    width: 690px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 55%, $background-color-secondary 55%, $background-color-secondary);
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    width: 650px;
    margin-bottom: 35px;
    margin-left: 0;
    margin-top: -2px;
  }
}

.slider__item {
  text-align: center;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .slider__item {
    width: 50%;
    overflow: hidden;
    z-index: 4;
  }
}

.slider__item--after {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__item--after {
    display: block;
    width: 100%;
    z-index: 3;
    background: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 167px, $background-color-secondary--light 167px, $background-color-secondary--light);
  }

  .slider__item--before {
    position: absolute;
    background: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 167px, $background-color-secondary 167px, $background-color-secondary);
  }
}

@media (min-width: $desktop-width) {
  .slider__item--after {
    background: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 190px, $background-color-secondary--light 190px, $background-color-secondary--light);
  }

  .slider__item--before {
    background: linear-gradient(to bottom, $background-color-tertiary, $background-color-tertiary 190px, $background-color-secondary 190px, $background-color-secondary);
  }
}

.slider__img--before {
  @include size(320px, 238px);
  max-width: initial;
  margin-left: -20px;
}

@media (min-width: $tablet-width) {
  .slider__img--before {
    @include size(690px, 517px);
    max-width: 690px;
    margin-right: 0;
    margin-left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .slider__img--before {
    margin-left: -40px;
  }
}

.slider__img--after {
  @include size(251px, 240px);
}

@media (min-width: $tablet-width) {
  .slider__img--after {
    @include size(690px, 517px);
    max-width: 690px;
    margin-right: 0;
    margin-left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .slider__img--after {
    margin-left: -40px;
  }
}

.slider__toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .slider__toggle-wrapper {
    padding-bottom: 80px;
    z-index: 3;
    position: relative;
    margin-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .slider__toggle-wrapper {
    padding-bottom: 76px;
  }
}

.slider__caption {
  @include font($font-family-secondary, 400, 16px, 14px, $color-primary--dark);
  text-transform: uppercase;
  margin-left: 17px;
  margin-right: 12px;
}

@media (min-width: $tablet-width) {
  .slider__caption {
    font-size: 20px;
    margin: 0;
  }
}

.slider__toggle {
  position: relative;
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    position: relative;
    @include size(428px, 6px);
    background-color: #dcdcdc;
    border: 0;
    border-radius: 6px;
    margin-top: 0;
    margin-right: 21px;
    margin-bottom: 0;
    margin-left: 23px;
  }
}

.slider__input {
  @include visually-hidden;
}

.slider__label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.slider__switch {
  @include size(84px, 14px);
  position: relative;
  border: solid 1px $border-gray--darken;
  font-size: 0;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  margin: 0 auto;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: $background-color-tertiary;
  margin-left: 7px;
}

@media (min-width: $tablet-width) {
  .slider__switch {
    display: block;
    position: absolute;

    @include size(34px, 34px);
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -16px;
    background-color: $background-color-tertiary;
    border: 1px solid $border-gray--darken;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

.slider__switch::before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  left: 42px;
  width: 42px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .slider__switch::before {
    display: none;
  }
}

.slider__switch::after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  background: $background-color-primary;
  transform: translate3d(0, 0, 0);
  border-radius: 3px;
  top: 50%;
  left: 6px;
  width: 35px;
  line-height: 6px;
  margin-top: -3px;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

@media (min-width: $tablet-width) {
  .slider__switch::after {
    @include pseudo;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

    @include size(8px, 8px);
    background-color: $background-color-primary;
    border-radius: 50%;
    margin: 0;
  }
}

.slider__input[disabled] + .slider__label {
  pointer-events: none;
}

.slider__input:focus + .slider__label .slider__switch,
.slider__input:hover + .slider__label .slider__switch {
  background-color: $background-color-tertiary;
}

.slider__input:checked + .slider__label .slider__switch {
  background-color: $background-color-tertiary;
}

.slider__input:checked + .slider__label .slider__switch::before {
  content: attr(data-unchecked);
  left: 0;
}

.slider__input:checked + .slider__label .slider__switch::after {
  content: attr(data-checked);
  transform: translate3d(42px, 0, 0);
  left: 0;
}

.slider__input:checked:focus + .slider__label .slider__switch,
.slider__input:checked:hover + .slider__label .slider__switch {
  background-color: $background-color-tertiary;
}
