.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 0px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-right: 0;
  }
}

.social__item {
  &:nth-child(2) {
    margin: 0 40px;

    @media (min-width: $tablet-width) {
      margin-right: 28px;
      margin-left: 28px;
    }
  }

  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      margin-left: 16px;
    }
  }
}

.social__icon{
  fill: rgb(102, 102, 102);

  &:hover {
    fill: rgb(104, 183, 56);
  }

  &:active, &:focus {
    fill: rgba(104, 183, 56, 0.3);
  }
}

.social__icon--vk {
  @include size(22px, 12px);

  @media (min-width: $tablet-width) {
    @include size(30px, 16px);
  }
}

.social__icon--insta {
  @include size(16px, 16px);

  @media (min-width: $tablet-width) {
    @include size(23px, 23px);
  }
}
.social__icon--fb {
  @include size(10px, 19px);

  @media (min-width: $tablet-width) {
    @include size(14px, 28px);
  }
}
