.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.social__item {
  font-size: 0;
}

.social__link {
  display: block;
  position: relative;

  @include size(62px, 62px);

  &::before {
    @include size(62px, 62px);
    @include pseudo;
    top: 0;
    left: 0;
  }
}

.social__link--vkontakte::before {
  background: url("../img/icon-vk.svg") center no-repeat;
  background-size: 22px 12px;
}

@media (min-width: $tablet-width) {
  .social__link--vkontakte::before {
    background-size: 30px 16px;
  }
}

.social__link--instagram::before {
  background: url("../img/icon-insta.svg") center no-repeat;
  background-size: 17px 17px;
}

@media (min-width: $tablet-width) {
  .social__link--instagram::before {
    background-size: 23px 23px;
  }
}

.social__link--facebook::before {
  background: url("../img/icon-fb.svg") center no-repeat;
  background-size: 10px 19px;
}

@media (min-width: $tablet-width) {
  .social__link--facebook::before {
    background-size: 14px 28px;
  }
}
