.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  /*color: $color-primary--dark;*/
}
.title--lg {
  font-size: 36px;
  line-height: 1;
}
.title--md {
  font-size: 24px;
  line-height: 1;
}
.title--sm {
  font-size: 16px;
  line-height: 1.2;
}
