
body {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: $color-primary;
}

.visually-hidden {
  @include visually-hidden;
}
