@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "global.scss";
@import "blocks/banner.scss";
@import "blocks/button.scss";
@import "blocks/catalog.scss";
@import "blocks/example.scss";
@import "blocks/main-nav.scss";
@import "blocks/menu-list.scss";
@import "blocks/more.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/programmes.scss";
@import "blocks/properties.scss";
@import "blocks/titles.scss";
