/*Цвета фонов*/
$background-color-primary:        #68B738;
$background-color-primary--dark:  #63A73A;
$background-color-secondary:      #F2F2F2;
$background-color-tertiary:       #FFFFFF;

/*Цвета бордеров*/
$border-gray-light:               #EDEDED; /*237 237 237 */
$border-gray:                     #E6E6E6; /*230 230 230 */
$border-gray--dark:               #D9D9D9; /*217 217 217 */


/*Цвета текстов*/
$color-primary:                   #444444;
$color-primary--dark:             #111111;
$color-secondary:                 #FFFFFF;

/*Шрифт*/
$font-family-primary:             "Oswald", "Arial", sans-serif;


