/*Цвета фонов*/
$background-color-primary:        #68b738;
$background-color-primary--dark:  #63a73a;
$background-color-secondary:      #f2f2f2;
$background-color-tertiary:       #ffffff;

/*Цвета бордеров*/
$border-gray-light:               #ededed; /*237 237 237 */
$border-gray:                     #e6e6e6; /*230 230 230 */
$border-gray--dark:               #d9d9d9; /*217 217 217 */


/*Цвета текстов*/
$color-primary:                   #444444;
$color-primary--dark:             #111111;
$color-secondary:                 #ffffff;
$color-secondary--dark:           #f2f2f2;

/*Шрифт*/
$font-family-primary:             "Oswald", "Arial", sans-serif;

/*Размеры*/
$tablet-width:                    768px;
$desktop-width:                   1440px;
